.DS_Store
.git*
.idea
.project
.DS_Store
._*
Makefile
Gruntfile.js
examples/
node_modules/
.nw-builder/

deprecated/
examples/
experiment/
addons/
build/
docs/
support/
test/
.plexi/
logs/
dist/